.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo {
        width: 250px;

        @media screen and (max-width: 1024px) {
            width: 40px;

        }

        img {
            width: 100%;

            @media screen and (max-width: 1024px) {
                width: 40px;
                height: 40px;
            }
        }

    }

    &__official {
        color: $white;
        font-size: 12px;
        text-align: center;
        font-weight: 500;
        line-height: 12px;

        span {
            margin-top: 4px;
            display: block;
            font-size: 18px;
            line-height: 28px
        }

        @media screen and (max-width: 480px) {
            display: none !important;
        }
    }

    &__phone {
        color: $white;
        font-size: 18px;
        font-weight: 700;
        line-height: 18px;
        text-transform: none;
        display: block;
        text-decoration: none;
        margin-bottom: 4px;

        &:hover {
            color: $white;
            text-decoration: none;
        }

        @media screen and (max-width: 480px) {
            display: none !important;
        }
    }

    &__contacts {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
}